
#include <stdio.h>
#include <math.h>

int main(void)

{
  int a,b,c;
  int p;

  
  
  printf("enter perimeter\n" ,p);
  
  scanf("%d", &p);
  
  printf("Triangles with sides that equal %d\n" ,p );
  
 for (a = 1; a < p; a++)
   for (b = a; b <= p-a; b++)
      for (c = b; c <=(p-a-b); c++)
         
if (a + b + c == p)   
{

  
  printf( "%d %d %d\n" ,a,b,c);
  }
  
  
  
  system("pause");
  return 0;
}
